@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-size: 16px;
    background: #f5d04e;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
}

.carta {
    margin: 100px auto;
    justify-content: center;
    max-width: 90%;
    width: 360px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px black;
    border: solid;
}

.imagen1 {
    width: 92%;
    border-radius: 15px;
    margin: 15px;
}

.text1 {
    vertical-align: top;
    display: inline-block;
    background: #f5d04e;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
}

.text2 {
    margin: 15px 0px 0px 15px;
    font-weight: 600;
}

.text3 {
    margin: 15px 0px 0px 15px;
    font-weight: bold;
    font-size: 25px;
}

.text4 {
    margin: 15px 0px 10px 15px;
    opacity: 60%;
}

.carte_inferior {
    display: inline-flex;
}

.imagen2 {
    width: 30px;
    margin: 10px 0px 15px 15px;
}

.texto5 {
    margin: 15px 0px 15px 15px;
    font-weight: bold;
}